.rtl-wrapper[dir="rtl"] {
    i {
        //transform: rotateX(90deg) !important;
        margin-right: 0 !important;
        //margin-left: 0.5rem !important;
    }
    .btn-icon :is(i, svg, img) {
        transform: rotateY(180deg);
    }
    #conversations-list,
    #contacts-list,
    #users-conversation {
        padding-inline-start: 0;

        & > li {
            // padding-inline-end: 1rem;
            // padding-inline-start: 1rem;
            .position-relative {
                margin-right: 0 !important;
                margin-left: 1rem !important;
            }
            .country-flag {
                left: -6px;
            }
        }
    }

    .user-chat-remove {
        transform: rotate(180deg);
        margin-left: 0 !important;
        margin-right: 0 !important;
        &:hover {
            background: #eff2f7;
        }
    }

    .chat-input-links {
        margin-right: 0 !important;
        margin-left: 0 !important;
        & + .links-list-item {
            margin-right: 0.5rem !important;
            transform: rotate(180deg);
        }
    }
    .send-button .text-send {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
        transform: rotate(180deg);
    }
    .send-button .audio-send {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
    .conversation-list {
        .chat-avatar {
            margin: 0 0 0 0.5rem;
        }
    }
    .chat-leftsidebar {
        & > div:first-child {
            padding-right: 1rem !important;
        }
        .nav-item {
            i {
                margin-left: 0.5rem !important;
                transform: rotateY(180deg);
            }
        }
        #addcontact,
        #settings,
        #logout {
            transform: rotateY(180deg);
            margin-right: 0.5rem !important;
        }
        .nav-tabs {
            padding-right: 0;
        }
        #conversations-pane {
            .conversations-radio-buttons {
                padding: 0 1rem 0.5rem !important;
                .form-check {
                    padding-right: 0.75rem;
                    padding-left: 0;
                    margin-right: 1rem;
                    transform: rotateY(180deg);
                    label {
                        transform: rotateY(180deg);
                    }
                }
                .all-mine,
                .open-closed {
                    .wrapper {
                        .form-check:first-child {
                            //margin-right: 0;
                        }
                    }
                }
            }
            .conversations {
                margin-left: 0.4rem;
                .conversation-actions {
                    button {
                        text-align: start;
                        i {
                            transform: rotateY(180deg);
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
        .search-box {
            .search-icon {
                left: unset;
                right: 13px;
                transform: rotateY(201deg);
                transform: translate(2px, 0px);
            }
            .form-control {
                padding-left: 25px;
                padding-right: 35px;
            }
        }
    }

    #users-chat {
        //margin-left: 0.75rem !important;
    }

    .chat-conversation {
        padding-left: 0 !important;
    }
    
    .chat-conversation .chat-conversation-list {
        margin-bottom: 0;
        padding-top: 10px;
        .ctext-wrap-content{
            direction: rtl;
        }
    }

    .add-contact-form {
        .add-contact-form-topbar {
            padding-right: 1rem !important;
            .user-chat-remove {
                margin-left: 1rem !important;
                margin-right: 0 !important;
                h6 {
                    i {
                        margin-left: 0.5rem !important;
                    }
                }
            }
        }
        .add-contact-form-content {
            .col-sm-12 {
                padding-right: 0;
                > div {
                    padding-left: 1.5rem !important;
                    padding-right: 1.5rem !important;
                }
            }
            div + form {
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
            // .country-input {
            //     .country-flag {
            //         border-radius: var(--vz-border-radius);
            //         border-bottom-right-radius: 0.25rem;
            //         border-top-right-radius: 0.25rem;
            //         border-bottom-left-radius: 0;
            //         border-top-left-radius: 0;
            //         border: 1px solid #ced4da;
            //         border-left: 0;
            //     }
            //     .country-select-input {
            //         border-radius: var(--vz-border-radius);
            //         border-bottom-right-radius: 0;
            //         border-top-right-radius: 0;
            //         border: var(--vz-border-width) solid
            //             var(--vz-input-border-custom);
            //         border-right: 0;
            //     }
            // }
        }
    }
    .settings-modal {
        .settings-modal-topbar {
            padding-right: 1rem !important;
            .user-chat-remove {
                margin-left: 1rem !important;
                margin-right: 0 !important;
                h6 {
                    i {
                        margin-left: 0.5rem !important;
                    }
                }
            }
        }
        .settings-modal-content {
            .col-sm-12 {
                padding-right: 0;
                > div {
                    padding-left: 1.5rem !important;
                    padding-right: 1.5rem !important;
                }
            }
            div + form {
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }
        // .window-position {
        //     .basic-single {
        //         .value__control {
        //             border-color: rgb(204, 204, 204);
        //             border-radius: 4px;
        //             border-style: solid;
        //             border-width: 1px;
        //             border-left: 0;
        //             border-radius: 4px;
        //             border-top-left-radius: 0;
        //             border-bottom-left-radius: 0;
        //             box-shadow: none;
        //         }
        //     }
        //     #save-window-position {
        //         border-radius: var(--vz-border-radius);
        //         border-bottom-right-radius: 0;
        //         border-top-right-radius: 0;
        //     }
        // }
        // .local-language {
        //     .basic-single {
        //         .value__control {
        //             border-color: rgb(204, 204, 204);
        //             border-radius: 4px;
        //             border-style: solid;
        //             border-width: 1px;
        //             border-left: 0;
        //             border-radius: 4px;
        //             border-top-left-radius: 0;
        //             border-bottom-left-radius: 0;
        //             box-shadow: none;
        //         }
        //     }
        //     #save-local-language {
        //         border-radius: var(--vz-border-radius);
        //         border-bottom-right-radius: 0;
        //         border-top-right-radius: 0;
        //     }
        // }
    }

    .user-chat {
        .user-chat-topbar {
            .user-chat-remove {
                margin-left: 0.5rem !important;
            }
            .country-flag {
                left: -4px;
            }
            .chat-user-img {
                margin-right: 0 !important;
                margin-left: 0.5rem !important;
            }
            .chat-box-dropdown-menus {
                padding-left: 0.5rem;
            }
        }
        .chat-input-section {
            //padding-right: 0.5rem !important;
            #chatinput-form {
                .alert.pickerEmoji {
                    left: unset;
                    right: -15px;
                }
                .alert.pickerImage {
                    left: unset;
                    right: 2px;
                    .pickerImage-topbar {
                        padding-left: 0.25rem !important;
                        padding-right: 1rem !important;
                    }
                    .pickerImage-preview {
                        .pickerImage-preview-form {
                            right: 34%;
                            top: 34%;
                        }
                        .pickerImage-preview-remove-image-button {
                            right: unset;
                            left: 9px;
                        }
                    }
                }
            }
        }
        .send-template-message-form {
            .send-template-message-form-topbar {
                padding-left: 0.25 !important;
                padding-right: 1rem !important;
                h6 {
                    margin-right: 0 !important;
                }
            }
            .send-template-message-form-content {
                text-align: start;
                > div {
                    padding-left: 1rem !important;
                    padding-right: 1rem !important;
                }
            }
        }
        .template-components-container {
            text-align: start !important;
            .send-template-message-form-topbar {
                padding-left: 0.25 !important;
                padding-right: 1rem !important;
                h6 {
                    margin-right: 0 !important;
                }
            }
            .send-template-message-form-content {
                .template-message-preview {
                    .template-message-preview-header {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                    }
                }
            }
        }
    }
    #contacts-pane {
        & > .contacts {
            margin-left: 0.35rem !important;
        }
        .contact-dropdown-menus {
            text-align: start;
            i {
                margin-left: 1rem !important;
            }
        }
    }
    .user-phone {
        direction: ltr;
        display: flex;
        justify-content: flex-end;
    }
    // .countries .country-flag {
    //     margin-right: 0 !important;
    //     margin-left: 0.5rem !important;
    // }

    .value__control--is-focused {
        border-color: #ccc !important;
        border-width: 1px;
        box-shadow: none !important;
    }
    .contact-list-last-message {
        direction: rtl;
        margin-right: 0.2rem;
    }
    .templates-list-dropdown-wrapper {
        .dropdown-menu-lg {
            transform: translate3d(-16px, 37.3333px, 0px) !important;
        }
    }

    /***/
    input[type="text"]:-moz-placeholder,
    input[type="email"]:-moz-placeholder {
        text-align: right;
    }
    input[type="text"]:-ms-input-placeholder,
    input[type="email"]:-ms-input-placeholder {
        text-align: right;
    }
    input[type="text"]::-webkit-input-placeholder,
    input[type="email"]::-webkit-input-placeholder {
        text-align: right;
    }

    .extension-window-links-wrapper.minimized-window {
        right: -7px;
    }
    // &[screensize="big"] {
    // }
    // &[screensize="normal"] {
    // }
    // &[screensize="small"] {
    //     .extension-window-links-wrapper.minimized-window {
    //         right: 118px;
    //     }
    // }

    .reactionz-extension-chat-content-frame.user-chat {
        .send-template-modal .dropdown-menu {
            transform: translate(-42px, 38px) !important;
        }
        .templates-list-dropdown-wrapper {
            .dropdown-menu-end {
                transform: translate(-17px, 38px) !important;
            }
        }
    }
}
