/** the mixins **/
@mixin audioControlButton() {
    align-items: center;
    aspect-ratio: 1;
    background: hsla(0, 0%, 50%, 0.161);
    // background-image: -webkit-linear-gradient(
    //     283deg,
    //     hsla(0, 0%, 93%, 0.83) 50%,
    //     #dbdbdb 65%
    // );
    border: 1px solid #d8d5d5;
    border-radius: 100%;
    color: #000;
    display: flex;
    font-weight: 900;
    justify-content: center;

    transition: all 0.2s ease-in-out;
    width: 20px;
    padding: 3px 12px;
    margin: 0 0.25rem;
    &:hover {
        background: #b4b4b480;
        color: #000;
        border-color: #b7b7b7;
    }
}
